{% extends "base.html" %}

{% block content %}
    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Cheddar Packages</h1>
            <ul class="list-group">
                {% for release, path in releases.iteritems() %}
                    <li class="list-group-item"><a href="../../{{ path }}">{{ release }}</a></br></li>
                {% endfor %}
            </ul>

        </div>

    </div> <!-- /container -->
{% endblock %}